<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'lol' %}" method="post">
        {% csrf_token %}
        {{ form.lolField }}
        <input type="submit" value="ZAKINUTSYA">
    </form>
</body>
</html>

<body>
    <form class="bg-indigo" action="{% url 'add_ticket' %}" method="post">
        {% csrf_token %}
        {{ form.addTicketField }}
        <input type="submit" value="Sumbit">
    </form>
</body>