<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-blue shadow" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/blue.png" class="navbar-brand-img" alt="Argon Design - Jinja Template Logo.">
      </a>
    </div>
    <div class="navbar-inner">
    <div class="col-xl-4">
    <table class="table align-items-center table-flush order-list">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">AKR_BMSTU_DB_CW</th>
                            </tr>
                            </thead>
    </table>
    </div>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <i class="ni ni-tv-2 text-cyan"></i>
              <span class="nav-link-text text-gray">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">
              <i class="ni ni-key-25 text-blue"></i>
              <span class="nav-link-text text-gray">Login</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">
              <i class="ni ni-circle-08 text-blue"></i>
              <span class="nav-link-text text-gray">Register</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="ni ni-user-run text-purple"></i>
              <span class="nav-link-text text-gray">Logout</span>
            </a>
          </li>            
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">

        </ul>
      </div>
    </div>
  </div>
</nav>